header{
    background-color: bisque;
    height: 70px;
    border: 5px;
    
}

#sidebar{
    height: 400px;
    width: 150px;
    background-color: aquamarine;
    display: inline-block;

}
#main-content{
    height: 400px;
    width: 900px;
    background-color: crimson;
    display: inline-block;
}    
footer{
    background-color: lightgoldenrodyellow;
    height: 70px;

}